{% extends 'base.html' %}

{% load static %}
{% block blockcss %}
<link rel="stylesheet" media="screen, print" href="{% static 'css/notifications/sweetalert2/sweetalert2.bundle.css' %}">
<link rel="stylesheet" media="screen, print" href="{% static 'css/statistics/c3/c3.css' %}">

{% endblock %}
{% block pagecontent %}







<main id="js-page-content" role="main" class="page-content">
    {% comment %} <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">Smart-View</a></li>
        <li class="breadcrumb-item">Datatables</li>
        <li class="breadcrumb-item active">Basic</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol> {% endcomment %}
    {% comment %} <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-table'></i> <span class='fw-300'></span>
            <!-- <sup class='badge badge-primary fw-500'>ADDON</sup>  -->
            <!-- <small>
                Create headache free searching, sorting and pagination tables without any complex configuration
            </small> -->
           

        </h1>
    </div> {% endcomment %}
    <div class="panel-container show">
        <div class="panel-content">
            <div class="panel-tag">
            <h3>Students</h3>
            </div>
            <main id="js-page-content" role="main" class="page-content">
                        {% comment %} <ol class="breadcrumb page-breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Smart-View</a></li>
                            <li class="breadcrumb-item">Datatables</li>
                            <li class="breadcrumb-item active">Export</li>
                            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date">Saturday, July 25, 2020</span></li>
                        </ol> {% endcomment %}
                        {% comment %} <div class="subheader">
                            <h1 class="subheader-title">
                                <i class="subheader-icon fal fa-table"></i> DataTables: <span class="fw-300">Export</span> <sup class="badge badge-primary fw-500">ADDON</sup>
                                <small>
                                    Export datatables to PDF, Excel, and CSV formats - without any hassle!
                                </small>
                            </h1>
                        </div> {% endcomment %}
                        <div class="row">
                            <div class="col-xl-12">
                                <div id="panel-1" class="panel">
                                    <div class="panel-hdr">
                                        <h2>
                                            Form <span class="fw-300"><i>x</i></span>
                                        </h2>
                                        <div class="panel-toolbar">
                                            <button class="btn btn-panel waves-effect waves-themed" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                                            <button class="btn btn-panel waves-effect waves-themed" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                                            <button class="btn btn-panel waves-effect waves-themed" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                                        </div>
                                    </div>
                                    <div class="panel-container show">
                                        <div class="panel-content">
                                            
                                            <!-- datatable start -->
                                            <div id="dt-basic-example_wrapper" class="dataTables_wrapper dt-bootstrap4"></div><div class="row"><div class="col-sm-12"><table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline" role="grid" aria-describedby="dt-basic-example_info" style="width: 988px;">
                                                <thead class="bg-primary-600">
                                                    <tr role="row"><th class="sorting" tabindex="0" aria-controls="dt-basic-example" rowspan="1" colspan="1" style="width: 232px;" aria-label="Position: activate to sort column ascending">Names</th><th class="sorting_asc" tabindex="0" aria-controls="dt-basic-example" rowspan="1" colspan="1" style="width: 150px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Admission Number</th><th class="sorting" tabindex="0" aria-controls="dt-basic-example" rowspan="1" colspan="1" style="width: 112px;" aria-label="Office: activate to sort column ascending">Class</th><th class="sorting" tabindex="0" aria-controls="dt-basic-example" rowspan="1" colspan="1" style="width: 53px;" aria-label="Age: activate to sort column ascending">Stream</th><th class="sorting" tabindex="0" aria-controls="dt-basic-example" rowspan="1" colspan="1" style="width: 101px;" aria-label="Start date: activate to sort column ascending">Kcpe</th></tr>
                                                </thead>
                                                <tbody>
                                                {% for student in students %}

                                                   <tr role="row" class="odd">
                                                        <td tabindex="0" class="sorting_1">
                                                        <a href="view_student/?adm_no={{student.admission_number}}">{{ student.fname | title }} {{ student.sname | title }} {{ student.surname | title }}</a></td>
                                                        <td>{{ student.admission_number}}</td>
                                                        <td>{{ student.class_id.form_name }}</td>
                                                        <td>{{ student.stream_id.stream_name | title }}</td>
                                                        <td>{{ student.kcpe | title }}</td>
                                                        
                                                    </tr>
                                        
                                                  {% endfor %}

                                               

                                               
                                               </tbody>
                                                <tfoot>
                                                    <tr><th rowspan="1" colspan="1">Names</th><th rowspan="1" colspan="1">AdmissionNumber</th><th rowspan="1" colspan="1">Class</th><th rowspan="1" colspan="1">Stream</th><th rowspan="1" colspan="1">Kcpe</th></tr>
                                                </tfoot>
                                            </table></div></div><div class="row"><div class="col-sm-12 col-md-5"></div><div class="col-sm-12 col-md-7">
                                            <!-- datatable end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>


        </div>
    </div>

</main>
{% endblock %}
{% block blockjs %} 

<script src="{% static 'js/notifications/sweetalert2/sweetalert2.bundle.js' %}"></script>
   <script src="{% static 'js/datagrid/datatables/datatables.bundle.js' %}"></script> 
        <!-- datatbles buttons bundle contains: 
	+ "jszip.js",
	+ "pdfmake.js",
	+ "vfs_fonts.js"	
	NOTE: 	The file size is pretty big, but you can always use the
			build.json file to deselect any components you do not need under "export" -->
        <script src="{% static 'js/datagrid/datatables/datatables.export.js' %}"></script>
        <script>
            $(document).ready(function()
            {

                // initialize datatable
                $('#dt-basic-example').dataTable(
                {
                    responsive: true,
                    lengthChange: false,
                    dom:
                        /*	--- Layout Structure 
                        	--- Options
                        	l	-	length changing input control
                        	f	-	filtering input
                        	t	-	The table!
                        	i	-	Table information summary
                        	p	-	pagination control
                        	r	-	processing display element
                        	B	-	buttons
                        	R	-	ColReorder
                        	S	-	Select

                        	--- Markup
                        	< and >				- div element
                        	<"class" and >		- div with a class
                        	<"#id" and >		- div with an ID
                        	<"#id.class" and >	- div with an ID and a class

                        	--- Further reading
                        	https://datatables.net/reference/option/dom
                        	--------------------------------------
                         */
                        "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'lB>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    buttons: [
                        /*{
                        	extend:    'colvis',
                        	text:      'Column Visibility',
                        	titleAttr: 'Col visibility',
                        	className: 'mr-sm-3'
                        },*/
                        {
                            extend: 'pdfHtml5',
                            text: 'PDF',
                            titleAttr: 'Generate PDF',
                            className: 'btn-outline-danger btn-sm mr-1'
                        },
                        {
                            extend: 'excelHtml5',
                            text: 'Excel',
                            titleAttr: 'Generate Excel',
                            className: 'btn-outline-success btn-sm mr-1'
                        },
                        {
                            extend: 'csvHtml5',
                            text: 'CSV',
                            titleAttr: 'Generate CSV',
                            className: 'btn-outline-primary btn-sm mr-1'
                        },
                        {
                            extend: 'copyHtml5',
                            text: 'Copy',
                            titleAttr: 'Copy to clipboard',
                            className: 'btn-outline-primary btn-sm mr-1'
                        },
                        {
                            extend: 'print',
                            text: 'Print',
                            titleAttr: 'Print Table',
                            className: 'btn-outline-primary btn-sm'
                        }
                    ]
                });

            });

        </script>



{% endblock %}


