{% extends 'base.html' %}

{% load static %}
{% block blockcss %}
<link rel="stylesheet" media="screen, print" href="{% static 'css/notifications/sweetalert2/sweetalert2.bundle.css' %}">
{% endblock %}
{% block pagecontent %}




<main id="js-page-content" role="main" class="page-content">
    
    <div class="subheader">

    </div>
    <div class="panel-container show">
        <div class="panel-content">
            <div class="panel-tag">
                Add Stream(s)
     
            </div>
  
    



            <form id='add_stud_form' enctype="multipart/form-data" action="#" method="POST">
           
                {% csrf_token %}
                {{form}}

    {% comment %} {% if form.non_field_errors %}
    {% for err in form.non_field_errors %}
         <p class="alert alert-danger"> <strong> {{ err }}</strong> </p>
    {% endfor %}
    {% endif %} {% endcomment %}
 
              

                <div class="form-group mb-0">
                    <label class="form-label"></label>
                    <div class="custom-file">
                        <button class='btn btn-success' type="submit" id="sbt-btn"> Add Stream</button>
                       
                    </div>
                </div>

               
            </form>



        </div>
    </div>

</main>
{% endblock %}
{% block blockjs %} 


<script src="{% static 'js/notifications/sweetalert2/sweetalert2.bundle.js' %}"></script>
<script type="text/javascript">
        
    var example_gridsize = $("#example-gridsize");
    $('#sbt-btn').click((event)=>{
        fname=$('#fname').val();
        sname=$('#sname').val();
        surname=$('#surname').val();
        adm_no=$('#adm_no').val();
        passport=$('#passport').val();
        form=$('#form').val();
        kcpe=$('#kcpe').val();
        if(fname==''||sname==''||surname==''||adm_no==''||adm_no==''||form==''||kcpe==''){
               var swalWithBootstrapButtons = Swal.mixin(
            {
                customClass:
                {
                    // confirmButton: "btn btn-primary",
                    cancelButton: "btn btn-danger mr-2"
                },
                buttonsStyling: true
            });
            swalWithBootstrapButtons
                .fire(
                {
                    title: "Missing Something?",
                    text: "Please enter all the details!",
                    type: "warning",
                    showCancelButton: false,
                    // confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "Okay!",
                    reverseButtons: false
                })
            

        }else {
            
        }



     

        // $('#add_stud_form').ajaxForm({
        
        // //    target:'data',
        // data:{ add:1,},
        // url:'add_students',
        // beforeSubmit:()=>{
        //   alert('logging you inn');
        //     return true;
        // },
        // error:(err)=>{
        //    alert('error while uploadind data'+err)

        //     //alert('Encountered a problem whilelogging you in!')
        // },
        // complete:(data)=>{
        //     data=JSON.parse(data.responseText);
        //    if(data.info=='error'){
        //    alert('error')
        //    }else (
        //        alert('success')
        //    )
        // }
        // })

      
        
            // var swalWithBootstrapButtons = Swal.mixin(
            // {
            //     customClass:
            //     {
            //         confirmButton: "btn btn-primary",
            //         cancelButton: "btn btn-danger mr-2"
            //     },
            //     buttonsStyling: false
            // });
            // swalWithBootstrapButtons
            //     .fire(
            //     {
            //         title: "Are you sure?",
            //         text: "You won't be able to revert this!",
            //         type: "warning",
            //         showCancelButton: true,
            //         confirmButtonText: "Yes, delete it!",
            //         cancelButtonText: "No, cancel!",
            //         reverseButtons: true
            //     })
            //     .then(function(result)
            //     {
            //         if (result.value)
            //         {
            //             swalWithBootstrapButtons.fire(
            //                 "Deleted!",
            //                 "Your file has been deleted.",
            //                 "success"
            //             );
            //         }
            //         else if (
            //             // Read more about handling dismissals
            //             result.dismiss === Swal.DismissReason.cancel
            //         )
            //         {
            //             swalWithBootstrapButtons.fire(
            //                 "Cancelled",
            //                 "Your imaginary file is safe :)",
            //                 "error"
            //             );
            //         }
            //     });
        
    })

    // $("#gridrange").on("input change", function()
    // {
    //     //do something
    //     example_gridsize.attr("placeholder", ".col-" + $(this) z.val());
    //     example_gridsize.parent().removeClass().addClass("col-" + $(this).val())
    //     console.log("col-" + $(this).val());
    // });

</script>
{% endblock %}


